<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="dog">
<img src="" alt="dog" srcset="">
    </div>
    <div class="fish">

    </div>
    <div class="fox">

    </div>
    <button>
        <a href="validation.html">validation</a>
    </button>
</body>

</html>