<div class="start">
<h2>Level {{level}}</h2>
<span>To complete this level you must successfully fold an origami {{animal}}.</span>
<img src="/{{animal}}.jpg"/>
<a class="button" href="/{{animal}}/step/1">Start</a>
</div>