<div id="webcam-container">
<h2 class="animal" id="{{animal}}" >Is it a {{animal}}?</h2>
  <span>Show your {{animal}} to the camera and hold still for a few seconds.</span>
  <div class="loader"></div>
</div>